In [1]:
import pandas as pd

In [2]:
import json

In [3]:
with open("goodreads.json") as datafile:
  gr = json.load(datafile)
df = pd.DataFrame(gr)

In [4]:
df

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,0312853122,1,[],US,,"[{'count': '3', 'name': 'to-read'}, {'count': ...",,false,4.00,,...,9,,1984,https://www.goodreads.com/book/show/5333265-w-...,https://images.gr-assets.com/books/1310220028m...,5333265,3,5400751,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film
1,0743509986,6,[],US,,"[{'count': '2634', 'name': 'to-read'}, {'count...",,false,3.23,B000FC0PBC,...,10,Abridged,2001,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,1333909,10,1323437,Good Harbor,Good Harbor

In [5]:
df.describe()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
count,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
unique,2,2,1,1,1,2,1,1,2,2,...,2,2,2,2,2,2,2,2,2,2
top,0312853122,1,[],US,,"[{'count': '3', 'name': 'to-read'}, {'count': ...",,false,4.00,,...,9,,1984,https://www.goodreads.com/book/show/5333265-w-...,https://images.gr-assets.com/books/1310220028m...,5333265,3,5400751,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film
freq,1,1,2,2,2,1,2,2,1,1,...,1,1,1,1,1,1,1,1,1,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   isbn                  2 non-null      object
 1   text_reviews_count    2 non-null      object
 2   series                2 non-null      object
 3   country_code          2 non-null      object
 4   language_code         2 non-null      object
 5   popular_shelves       2 non-null      object
 6   asin                  2 non-null      object
 7   is_ebook              2 non-null      object
 8   average_rating        2 non-null      object
 9   kindle_asin           2 non-null      object
 10  similar_books         2 non-null      object
 11  description           2 non-null      object
 12  format                2 non-null      object
 13  link                  2 non-null      object
 14  authors               2 non-null      object
 15  publisher             2 non-null      object
 16  num_pages             2 non-null      object
 17  publication_day       2 non-null      object
 18  isbn13                2 non-null      object
 19  publication_month     2 non-null      object
 20  edition_information   2 non-null      object
 21  publication_year      2 non-null      object
 22  url                   2 non-null      object
 23  image_url             2 non-null      object
 24  book_id               2 non-null      object
 25  ratings_count         2 non-null      object
 26  work_id               2 non-null      object
 27  title                 2 non-null      object
 28  title_without_series  2 non-null      object
dtypes: object(29)
memory usage: 592.0+ bytes